# This is a basic workflow to help you get started with Actions

name: Bitbake raspberrypi

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the kirkstone branch
  push:
    branches: [ scarthgap ]
  pull_request:
    branches: [ scarthgap ]
  schedule:
    - cron: '0 12 * * 1'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  TARGET_VERSION: scarthgap

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  bitbake-raspberrypi:

    strategy:
      matrix:
        # target_machine: [raspberrypi-cm, raspberrypi-cm3, raspberrypi, raspberrypi0-2w-64, raspberrypi0-wifi, raspberrypi0, raspberrypi2, raspberrypi3-64, raspberrypi3, raspberrypi4-64, raspberrypi4, raspberrypi5]
        target_machine: [raspberrypi0-2w-64, raspberrypi3-64, raspberrypi4-64, raspberrypi5]
        onnxruntime_version: [1.18.0]

    # The type of runner that the job will run on
    runs-on: ubuntu-22.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      # Install essential host packages
      - name: Install Pakages
        run: |
          sudo apt-get update
          sudo apt-get -y install gawk wget git-core diffstat unzip texinfo gcc-multilib \
            build-essential chrpath socat cpio python3 python3-pip python3-pexpect xz-utils \
            debianutils iputils-ping python3-git python3-jinja2 libegl1-mesa libsdl1.2-dev \
            pylint xterm zstd liblz4-tool
          sudo apt-get clean
          sudo apt-get autoclean -y
          
      # checkout repository
      - name: Clone poky, meta-raspberrypi, meta-openembedded
        run: |
          sudo chown runner /mnt
          git clone -b ${TARGET_VERSION} git://git.yoctoproject.org/poky.git
          git clone -b ${TARGET_VERSION} git://git.yoctoproject.org/meta-raspberrypi
          git clone -b ${TARGET_VERSION} git://git.openembedded.org/meta-openembedded
        working-directory: /home/runner/work

      # Run bitbake
      - name: Bitbake MACHINE=${{ matrix.target_machine }}, ONNX Runtime version ${{ matrix.onnxruntime_version }}
        run: |
          source /home/runner/work/poky/oe-init-build-env build
          bitbake-layers add-layer /home/runner/work/meta-openembedded/meta-oe/
          bitbake-layers add-layer /home/runner/work/meta-openembedded/meta-python/
          bitbake-layers add-layer /home/runner/work/meta-onnxruntime/meta-onnxruntime/
          bitbake-layers add-layer /home/runner/work/meta-raspberrypi/
          MACHINE=${{matrix.target_machine}} bitbake onnxruntime
        working-directory: /mnt
